<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>South Asia</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingName</key>
				<string>Afghanistan</string>
				<key>subheadingImg</key>
				<string>Afghanistan.png</string>
			</dict>
			<dict>
				<key>subheadingName</key>
				<string>Bangladesh</string>
				<key>subheadingImg</key>
				<string>Bangladesh.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Bhutan</string>
				<key>subheadingImg</key>
				<string>Bhutan.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>India</string>
				<key>subheadingImg</key>
				<string>India.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Maldives</string>
				<key>subheadingImg</key>
				<string>Maldives.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Nepal</string>
				<key>subheadingImg</key>
				<string>Nepal.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Pakistan</string>
				<key>subheadingImg</key>
				<string>Pakistan.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Sri Lanka</string>
				<key>subheadingImg</key>
				<string>Sri_Lanka.png</string>
			</dict>
            
			
		</array>
	</dict>
    
    
	<key>West Asia</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingName</key>
				<string>Armenia</string>
				<key>subheadingImg</key>
				<string>Armenia.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Azerbaijan</string>
				<key>subheadingImg</key>
				<string>Azerbaijan.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Bahrain</string>
				<key>subheadingImg</key>
				<string>Bahrain.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string> Georgia</string>
				<key>subheadingImg</key>
				<string>Georgia.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Iran</string>
				<key>subheadingImg</key>
				<string>Iran.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string> Iraq</string>
				<key>subheadingImg</key>
				<string>Iraq.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Jordan</string>
				<key>subheadingImg</key>
				<string>Jordan.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Kuwait</string>
				<key>subheadingImg</key>
				<string>Kuwait.png</string>
			</dict><dict>
				<key>subheadingName</key>
				<string>Lebanon</string>
				<key>subheadingImg</key>
				<string>Lebanon.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Oman</string>
				<key>subheadingImg</key>
				<string>Lebanon.png</string>
			</dict>
            
            <dict>
				<key>subheadingName</key>
				<string>Qatar</string>
				<key>subheadingImg</key>
				<string>Qatar.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Saudi Arabia</string>
				<key>subheadingImg</key>
				<string>Saudi_Arabia.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Syria</string>
				<key>subheadingImg</key>
				<string>Syria.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>United Arab Emirates</string>
				<key>subheadingImg</key>
				<string>United_Arab_Emirates.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Yemen</string>
				<key>subheadingImg</key>
				<string>Yemen.png</string>
			</dict>
            
			
		</array>
	</dict>
    
    
    <key>Southeast Asia</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingName</key>
				<string>Brunei</string>
				<key>subheadingImg</key>
				<string>Brunei.png</string>
			</dict>
			<dict>
				<key>subheadingName</key>
				<string>Burma (Myanmar)</string>
				<key>subheadingImg</key>
				<string>Myanmar.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Cambodia</string>
				<key>subheadingImg</key>
				<string>Cambodia.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>East Timor</string>
				<key>subheadingImg</key>
				<string>East_Timor.png</string>
			</dict>
			<dict>
				<key>subheadingName</key>
				<string>Indonesia</string>
				<key>subheadingImg</key>
				<string>Indonesia.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Laos</string>
				<key>subheadingImg</key>
				<string>Laos.png</string>
			</dict>
			<dict>
				<key>subheadingName</key>
				<string>Malaysia</string>
				<key>subheadingImg</key>
				<string>Malaysia.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Papua New Guinea</string>
				<key>subheadingImg</key>
				<string>Papua_New_Guinea.png</string>
			</dict>
			<dict>
				<key>subheadingName</key>
				<string>Philippines</string>
				<key>subheadingImg</key>
				<string>Philippines.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Thailand</string>
				<key>subheadingImg</key>
				<string>Thailand.png</string>
			</dict>
			<dict>
				<key>subheadingName</key>
				<string>Vietnam</string>
				<key>subheadingImg</key>
				<string>Vietnam.png</string>
			</dict>
            
		</array>
	</dict>
    
    <key>East Asia</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingName</key>
				<string>China (PRC)</string>
				<key>subheadingImg</key>
				<string>China.png</string>
			</dict>
			<dict>
				<key>subheadingName</key>
				<string>Hong Kong SAR of China</string>
				<key>subheadingImg</key>
				<string>Hong_Kong.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Japan</string>
				<key>subheadingImg</key>
				<string>Japan.png</string>
			</dict>
			<dict>
				<key>subheadingName</key>
				<string>North Korea</string>
				<key>subheadingImg</key>
				<string>North_Korea.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>South Korea</string>
				<key>subheadingImg</key>
				<string>South_Korea.png</string>
			</dict>
			<dict>
				<key>subheadingName</key>
				<string>Macau SAR of China</string>
				<key>subheadingImg</key>
				<string>Macau.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Mongolia</string>
				<key>subheadingImg</key>
				<string>Mongolia.png</string>
			</dict>
			<dict>
				<key>subheadingName</key>
				<string>Republic of China (Taiwan)</string>
				<key>subheadingImg</key>
				<string>Republic_of_China.png</string>
			</dict>
			
		</array>
	</dict>
    
    <key>Central Asia</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingName</key>
				<string>Kazakhstan</string>
				<key>subheadingImg</key>
				<string>Kazakhstan.png</string>
			</dict>
			<dict>
				<key>subheadingName</key>
				<string>Kyrgyzstan</string>
				<key>subheadingImg</key>
				<string>Kyrgyzstan.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Tajikistan</string>
				<key>subheadingImg</key>
				<string>Tajikistan.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Turkmenistan</string>
				<key>subheadingImg</key>
				<string>Turkmenistan.png</string>
			</dict>
            <dict>
				<key>subheadingName</key>
				<string>Uzbekistan</string>
				<key>subheadingImg</key>
				<string>Uzbekistan.png</string>
			</dict>
			
		</array>
	</dict>
    
    <key>North Asia</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingName</key>
				<string>Russia</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			
			
		</array>
	</dict>
    
    
    
    
</dict>
</plist>
